.cookie-notice {
    position: fixed;
    z-index: 10;
    width: 90%;
    bottom: 1rem;
    left: 50%;
    translate: -50%;
    background: var(--color-light-1);
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    padding: 1rem;
    display: flex;
    gap: 1em;
}

.cookie-notice .info-cookie {
    font-size: 1rem;
}

.cookie-notice .buttons {
    display: flex;
    gap: 10px;
}

.cookie-notice .buttons button {
    height: 3em;
    padding: 0 2em;
    margin: auto 0;
    border: 0;
    border-radius: 25px;
    font-size: .8rem;
    transition: all 0.2s ease;
}

.cookie-notice .buttons .accept {
    border: 2px solid var(--color-primary);
    background-color: var(--color-light-1);
}

@media (width < 62.5rem) {
    .cookie-notice {
        bottom: 20px;
        width: 96%;
        flex-direction: column;
    }
}

@media (width < 37.5rem) {
    .cookie-notice .buttons button {
        width: 100%;
    }
}

@media (hover: hover) {
    .cookie-notice .buttons .reject:hover {
        background-color: var(--color-gray-1);
    }
    .cookie-notice .buttons .accept:hover {
        background-color: var(--color-primary);
        color: var(--color-light-1);
        font-weight: 500;
    }
}