.directions-block {
    width: 100%;
    margin: 6.25rem 0;
    display: flex;
    flex-direction: column;
}

.directions-block h1 {
    margin: .8em auto;
    font-size: 2.8rem;
}

.directions-block .directions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.directions-block .directions .direction {
    opacity: 0;
    transition: all 0.8s ease-out;
    width: 23.5%;
    border: 1px solid var(--color-gray-1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


.directions-block .directions .reveal-bottom {
    transform: translateY(100px);
}

.directions-block .directions .show {
    opacity: 1;
    transform: none;
}

.directions-block .directions .direction .info { height: 100%; }

.directions-block .directions .direction .info hr {
    border: 0;
    height: 1px;
    background-color: var(--color-gray-1);
}

.directions-block .directions .direction .info h2 {
    font-size: 1.5rem;
}

.directions-block .directions .direction .info p {
    font-weight: 300;
    font-size: 1rem;
}

.directions-block .directions .direction .info .price p { font-size: 1rem; }

.directions-block .directions .direction .info div {
    display: flex;
    justify-content: space-between;
}

.directions-block .directions .direction .info div p {
    margin: 0 .5rem;
}

.directions-block .directions .direction button {
    position: relative;
    padding: .5em;
    margin: 0 auto;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    border-bottom: 1px solid var(--color-gray-1);
    font-weight: 500;
}

.directions-block .directions .direction button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--color-gray-3);
    transition: width 0.2s ease;
}

@media (width < 81.25rem) {
    .directions-block .directions .direction {
        width: 47%;
        margin-bottom: .8em;
    }
    .directions-block .directions .direction img {
        width: 80%;
        margin: 0 auto;
    }
    .directions-block h1 { font-size: 2rem; }
}

@media (width < 43.75rem) {
    .directions-block .directions .direction { width: 100%; }
    .directions-block .directions .direction img { width: 80%; }
}

@media (width < 50rem) {
    .directions-block .directions .direction .info h2 {
        font-size: 1.3rem;
    }
    .directions-block .directions .direction button {
        font-size: .9rem;
    }
}

@media (width < 31.25rem) {
    .directions-block .directions .direction img { width: 100%; }
    .directions-block { margin: 0; }
}

@media (hover: hover) {
    .directions-block .directions .direction button:hover::after {
        width: 100%;
    }
}