header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--color-dark-1);
    display: flex;
    height: 4.375rem;
    padding: 0 1em;
    justify-content: space-between;
}

header .logo,
header nav,
header .social {
    margin: auto 0;
}

header .logo img {
    height: 4rem;
}

header nav {
    color: var(--color-light-1);
    margin: auto 0;
}

header nav ul {
    display: flex;
    gap: 2rem;
    padding: 0;
}

header nav ul li {
    cursor: pointer;
}

header nav ul li a {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--color-light-1);
    text-decoration: none;
}

header .social button {
    color: var(--color-light-1);
    padding: 0;
    height: 2rem;
}

header .social button svg {
    margin: auto 0;
}

header .contacts {
    display: flex;
    gap: 3.5rem;
}

header .contacts .social { gap: 1.25rem;}

header .contacts .reg {
    position: relative;
    overflow: hidden;
    background-color: var(--color-light-1);
    border: 2px dashed var(--color-light-1);
    height: 3em;
    padding: 0 2em;
    margin: auto 0;
    border: 0;
    border-radius: 25px;
    font-size: 1rem;
}

header .contacts .reg::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: var(--color-dark-1);
    transform: scaleX(0);
    transform-origin: left;
    transition: all .2s ease;
    z-index: 0;
    border: 2px dashed var(--color-light-1);
    border-radius: 25px;
}

header .contacts .reg span {
    position: relative;
    font-weight: 500;
    z-index: 1;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0); 
    }
}

@media (width < 81.25rem) {
    header .social { display: none; }
    header .contacts .reg {
        font-size: 0.9rem;
    }
    header nav ul li a {
        font-size: 1.1rem;
    }
}

@media (width < 62.5rem) {
    header {
        justify-content: center;
        gap: 3rem;
    }
    header .contacts .reg { display: none;}
}

@media (width < 43.75rem) {
    header {
        justify-content: space-between;
    }
    header nav { display: none;}
}

@media (width < 31.25rem) {
    header {
        height: 3.125rem;
    }
    header .logo img {
        height: 3.125rem;
    }
}

@media (hover: hover) {
    header .contacts .reg:hover {
        color: var(--color-light-1);
    }
    header .contacts .reg:hover::before {
        transform: scaleX(1);
    }
    header nav ul li:hover {
        animation: bounce 0.3s ease;
    }
}