header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--color-dark-1);
    display: flex;
    height: 70px;
    padding: 0 50px;
    justify-content: space-between;
}

header .logo,
header nav,
header .social {
    margin: auto 0;
}

header nav {
    color: var(--color-light-1);
    margin: auto 0;
}

header nav ul {
    display: flex;
    gap: 30px;
    padding: 0;
}

header nav ul li {
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
        animation: bounce 0.3s ease;
    }
}

header nav ul li a {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--color-light-1);
    text-decoration: none;
}

header .social button {
    color: var(--color-light-1);
    padding: 0;
    height: 35px;
}

header .social button svg {
    margin: auto 0;
}

header .contacts {
    display: flex;
    gap: 50px;
}

header .contacts .social { gap: 20px;}

header .contacts .reg {
    position: relative;
    overflow: hidden;
    background-color: var(--color-light-1);
    border: 2px dashed var(--color-light-1);
    height: 50px;
    padding: 0 30px;
    margin: auto 0;
    border: 0;
    border-radius: 25px;
}

header .contacts .reg::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: var(--color-dark-1);
    transform: scaleX(0);
    transform-origin: left;
    transition: all .2s ease;
    z-index: 0;
    border: 2px dashed var(--color-light-1);
    border-radius: 25px;
}

header .contacts .reg:hover::before {
    transform: scaleX(1);
}

header .contacts .reg:hover {
    color: var(--color-light-1);
}

header .contacts .reg span {
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    z-index: 1;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0); 
    }
}

@media (max-width: 1400px) {
    header {
        height: 70px;
        padding: 0 30px;
    }
}

@media (max-width: 1300px) {
    header .social { display: none; }
    header .contacts .reg {
        height: 40px;
        margin: auto 0;
        padding: 0 20px;
    }
}

@media (max-width: 1000px) {
    header {
        padding: 0 10px;
        justify-content: center;
        gap: 50px;
    }
    header .contacts .reg { display: none;}
}

@media (max-width: 700px) {
    header {
        justify-content: space-between;
    }
    header nav { display: none;}
}

@media (max-width: 500px) {
    header {
        height: 50px;
    }
    header .logo img {
        height: 50px;
    }
}