.hero {
    width: 100%;
    margin: 4.375rem 0;
    position: relative;
}

.hero .slider {
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
    transition: all 0.5s ease;
}

.hero .slider .wrapper {
    display: flex;
    height: 700px;
    transition: all 0.5s ease;
}

.hero .slider .wrapper .slide {
    min-width: 100%;
}

.hero .slider .wrapper .ph1 { background: url('../images/slider1.jpg') center / cover no-repeat; }
.hero .slider .wrapper .ph2 { background: url('../images/slider2.jpg') center / cover no-repeat; }
.hero .slider .wrapper .ph3 { background: url('../images/slider3.jpg') center / cover no-repeat; }
.hero .slider .wrapper .ph4 { background: url('../images/slider4.jpg') center / cover no-repeat; }

.hero .about {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.hero .about p::after {
    content: "ТВОЕ ТЕЛО\AТВОЙ ИНСТРУМЕНТ";
    white-space: pre;
    color: var(--color-light-1);
    font-size: 3rem;
    font-weight: 700;
}

.hero .about .buttons {
    display: flex;
    gap: 20px;
}

.hero .about .buttons button,
.hero .about .buttons a {
    height: 3em;
    border-radius: 25px;
    border: 1px solid var(--color-light-1);
    padding: 0 2em;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s ease;
    text-decoration: none;
}

.hero .about .buttons a span {
    margin: auto;
}

.hero .about .buttons .reg {
    background-color: var(--color-light-1);
}

.hero .about .buttons .info-button {
    background-color: transparent;
    border: 1px solid var(--color-light-1);
    color: var(--color-light-1);
}

@media (width < 81.25rem) { /*1300px*/
    .hero .slider {
        width: 100vw;
    }
}

@media (width < 62.5rem) { /*1000px*/
    .hero .slider .wrapper { height: 500px; }
    .hero .about .buttons button,
    .hero .about .buttons a {
        font-size: 0.8rem;
    }
    .hero .about p::after {
        font-size: 2rem;
    }
}

@media (width < 50rem) { /*800px*/
    .hero .slider .wrapper { height: 400px; }
}

@media (width < 31.25rem) { /*500px*/
    .hero { margin: 50px 0;}
    .hero .about p::after {
        font-size: 1.5rem;
    }
    .hero .about .buttons button,
    .hero .about .buttons a {
        font-size: 0.8rem;
    }
}

@media (width < 21.875rem) { /*350px*/
    .hero .about .buttons {
        flex-direction: column;
        gap: 5px;
    }
    .hero .about .buttons button,
    .hero .about .buttons a {
        font-size: 0.7rem;
    }
}

@media (hover: hover) {
    .hero .about .buttons .info-button:hover {
        background-color: #ffffff54;
    }
    .hero .about .buttons .reg:hover {
        font-weight: 500;
        background-color: transparent;
        color: var(--color-light-1);
    }
}