dialog { z-index: 999; }

#modal-form {
    width: 40vw;
    height: 50vh;
    overflow: hidden;
    padding: 20px;
    border: 0;
    border-radius: 16px;
}

#modal-gallery {
    width: 80vw;
    height: 90vh;
    padding: 20px;
    border: 0;
}

dialog .top-modal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

dialog .top-modal h1 {
    font-size:2.2rem;
    line-height: 1;
}

dialog .top-modal span {
    cursor: pointer;
    height: 25px;
    transition: all .2s ease;
    &:hover { transform: scale(1.1); }
}

dialog form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: calc(100% - 50px);
}

dialog form div,
dialog form input,
dialog form textarea {
    width: 100%;
    font-family: var(--font-second);
    font-size: 1rem;
}

dialog form div p {
    display: flex; gap: 10px;
    margin-top: 5px;
}

dialog form input {
    padding: 15px 15px;
    background-color: transparent;
    border: 1px solid var(--color-gray-1); 
    border-radius: 25px;
    &::placeholder {
        color: var(--color-gray-3);
    }
}

dialog form textarea {
    padding: 10px 15px;
    height: 100px;
    background-color: transparent;
    border: 1px solid var(--color-gray-1); 
    border-radius: 25px;
    resize: none;
    &::placeholder {
        color: var(--color-gray-3);
    }
}

dialog form label {
    font-weight: 300;
    margin-top: 10px;
    font-size: 1rem;
    font-family: var(--font-second);
}

dialog form button {
    padding: 15px 30px;
    margin: 0 auto;
    background-color: var(--color-dark-1);
    color: var(--color-light-1);
    border: 1px solid var(--color-dark-1);
    border-radius: 25px;
    font-size: 1rem;
    font-family: var(--font-second);
    margin-top: auto;
    &:hover {
        background-color: transparent;
        color: var(--color-dark-1);
        font-weight: 600;
    }
}

dialog .photos-gallery {
    margin-top: 20px;
    column-count: 3;
    column-gap: 1rem;
}

dialog .photos-gallery img {
    break-inside: avoid;
    margin-bottom: 1rem;
    border-radius: 15px;
}

@media (max-width: 1300px) {
    #modal-form{
        height: 55vh;
    }
    dialog form div p {
        flex-direction: column;
    }
    dialog form {
        height: calc(100% - 70px);
    }
}

@media (max-width: 900px) {
    #modal-form {
        width: 70vw;
    }
    dialog form button {
        min-height: 40px;
        padding: 0 20px;
    }
    dialog form {
        height: calc(100% - 50px);
    }
    dialog .photos-gallery {
        column-count: 2;
    }
}

@media (max-width: 700px) {
    dialog {
        width: 90vw;
    }
}

@media (max-width: 500px) {
    #modal-form {
        width: 90vw;
        height: 50vh;
    }
    dialog form button {
        min-height: 36px;
    }
    dialog form input,
    dialog form textarea {
        border-radius: 16px;
        padding: 10px;
    }
    dialog form input { height: 36px; }
    #modal-gallery {
        width: 95vw;
    }
    dialog .photos-gallery {
        column-gap: .5rem;
    }
}

@media (max-width: 400px) {
    dialog form button {
        width: 100%;
    }
    dialog form div p {
        flex-direction: column;
    }
    dialog .photos-gallery {
        column-count: 1;
    }
}