
#modal-form {
    width: 40vw;
    overflow: hidden;
    padding: 20px;
    border: 0;
    border-radius: 16px;
    font-size: 1rem;
}

#modal-gallery {
    width: 80vw;
    height: 90vh;
    padding: 20px;
    border: 0;
}

dialog .top-modal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

dialog .top-modal h1 {
    font-size:2.2rem;
    line-height: 1;
    margin-bottom: .5em;
}

dialog .top-modal span {
    cursor: pointer;
    height: 25px;
    transition: all .2s ease;
    &:hover { transform: scale(1.1); }
}

dialog form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

dialog form div,
dialog form input,
dialog form textarea {
    width: 100%;
    font-family: var(--font-second);
    margin-bottom: 1.2em;
}

dialog form div {margin: 0;}

dialog form div p {
    display: flex; gap: 10px;
    margin-top: 5px;
}

dialog form input {
    padding: 1em;
    height: 3em;
    background-color: transparent;
    border: 1px solid var(--color-gray-1); 
    border-radius: 25px;
    font-size: 1rem;
    &::placeholder {
        color: var(--color-gray-3);
    }
}

dialog form textarea {
    padding: 1em;
    height: 6em;
    background-color: transparent;
    border: 1px solid var(--color-gray-1); 
    border-radius: 25px;
    font-size: 1rem;
    resize: none;
    &::placeholder {
        color: var(--color-gray-3);
    }
}

dialog form label {
    font-weight: 300;
    font-family: var(--font-second);
}

dialog form button {
    padding: 1em 2em;
    margin: 0 auto;
    background-color: var(--color-dark-1);
    color: var(--color-light-1);
    border: 1px solid var(--color-dark-1);
    border-radius: 25px;
    font-size: 1rem;
    font-family: var(--font-second);
    margin-top: auto;
    &:hover {
        background-color: transparent;
        color: var(--color-dark-1);
        font-weight: 600;
    }
}

dialog .photos-gallery {
    margin-top: 20px;
    column-count: 3;
    column-gap: 1rem;
}

dialog .photos-gallery img {
    break-inside: avoid;
    margin-bottom: 1rem;
    border-radius: 15px;
}

@media (width < 81.25rem) { /*1300px*/
    dialog form div p {
        flex-direction: column;
    }
    dialog form {
        height: calc(100% - 70px);
    }
    #modal-form {font-size: .9rem;}
    dialog .top-modal h1 {font-size: 1.8rem;}
    dialog form input,
    dialog form textarea {font-size: .8rem;}
    dialog form button {font-size: .8rem;}
}

@media (width < 56.25rem) {
    #modal-form {
        width: 70vw;
    }
    dialog form button {
        font-size: .8rem;
    }
    dialog form {
        height: calc(100% - 50px);
    }
    dialog .photos-gallery {
        column-count: 2;
    }
}

@media (width < 43.75rem) {
    dialog {
        width: 90vw;
    }
}

@media (width < 31.25rem) { /*500px*/
    dialog .top-modal h1 {font-size: 1.4rem;}
    #modal-form {
        width: 90vw;
        font-size: .8rem;
    }
    #modal-gallery {
        width: 95vw;
    }
    dialog .photos-gallery {
        column-gap: .5rem;
    }
}

@media (width < 25rem) {
    dialog form button {
        width: 100%;
    }
    dialog form div p {
        flex-direction: column;
    }
    dialog .photos-gallery {
        column-count: 1;
    }
}