.reg-block {
    width: 100%;
    padding: 3.125rem 0;
    display: grid;
    grid-template-columns: auto 30%;
    gap: 3%;
}

.container .reg-block form {
    border: 1px solid var(--color-gray-1);
    padding: 2.18rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container .reg-block form h1 {
    font-size: 2.8rem;
}

.container .reg-block form div,
.container .reg-block form .field,
.container .reg-block form textarea {
    width: 100%;
    font-family: var(--font-second);
    font-size: 1rem;
}

.container .reg-block form div .names {
    display: grid; 
    grid-template-columns: 48% 48%;
    gap: 4%;
    margin-top: 5px;
}

.container .reg-block form .field {
    padding: 1em;
    height: 3em;
    background-color: transparent;
    border: 1px solid var(--color-gray-1); 
    border-radius: 25px;
    &::placeholder {
        color: var(--color-gray-3);
    }
}

.container .reg-block form p {
    margin-bottom: 0;
}

.container .reg-block form textarea {
    padding: .8em 1em;
    height: 5em;
    background-color: transparent;
    border: 1px solid var(--color-gray-1); 
    border-radius: 25px;
    resize: none;
    &::placeholder {
        color: var(--color-gray-3);
    }
}

.container .reg-block form .agreement {
    display: flex;
    margin: 1rem 0;
    font-size: 1rem;
    color: var(--color-gray-3);
}

.container .reg-block form .agreement p {
    display: block;
    margin: auto 0;
}

.container .reg-block form .agreement p a {
    text-decoration: underline;
    font-weight: 500;
    color: var(--color-dark-1);
}

.container .reg-block form .agreement input {
    width: 1.5em;
    margin-right: 1em;
}

.container .reg-block form label {
    font-weight: 300;
    margin-top: .4em;
    font-size: 1rem;
    font-family: var(--font-second);
}

.container .reg-block form button {
    padding: .3rem 2.18rem;
    height: 3em;
    margin: 0 auto;
    background-color: var(--color-dark-1);
    color: var(--color-light-1);
    border: 1px solid var(--color-dark-1);
    border-radius: 25px;
    font-size: 1rem;
    font-family: var(--font-second);
}

.container .reg-block .description {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container .reg-block .description h2 {
    font-size: 2.2rem;
}

.container .reg-block .description p {
    font-size: 1.4rem;
}

@media (width < 81.25rem) { /*1300px*/
    .container .reg-block form h1 {
        font-size: 2rem;
    }
    .container .reg-block .description h2 {
        font-size: 1.8rem;
    }
    .container .reg-block .description p {
        font-size: 1.2rem;
    }
    .container .reg-block form div,
    .container .reg-block form .field,
    .container .reg-block form textarea {
        font-size: .9rem;
    }
    .container .reg-block form label { font-size: .9rem;}
    .container .reg-block form .agreement { font-size: .9rem;}
}

@media (width < 62.5rem) { /*1000px*/
    .reg-block {
        grid-template-columns: 100%;
    }

    .container .reg-block form button {
        font-size: .8rem;
    }
    .container .reg-block form div,
    .container .reg-block form .field,
    .container .reg-block form textarea {
        font-size: .8rem;
    }
    .container .reg-block form label { font-size: .8rem;}
    dialog form .agreement { font-size: .7rem;}
}

@media (width < 50rem) { /*800px*/ 
}

@media (width < 31.25rem) { /*500px*/
    .container .reg-block form {
        padding: 1rem;
    }
    .container .reg-block form div p {
        flex-direction: column;
    }
    .container .reg-block form h1 { font-size: 1.7rem; }
    .container .reg-block .description h2 {
        font-size: 1.4rem;
    }
    .container .reg-block .description p {
        font-size: 1rem;
    }
}

@media (width < 25rem) {
    .container .reg-block form button {
        width: 100%;
    }
}

@media (hover: hover) {
    .container .reg-block form button:hover {
        background-color: transparent;
        color: var(--color-dark-1);
        font-weight: 600;
    }
}