.schedule-block {
    width: 100%;
    background-color: var(--color-dark-1);
    position: relative;
    z-index: -1;
    color: var(--color-light-1);
}

.schedule-block .el1,
.schedule-block .el2 {
    position: absolute;
    z-index: inherit;
    height: 100%;
}

.schedule-block .el1 {
    top: 0; left: 0;
}

.schedule-block .el2 {
    bottom: 0; right: 0;
}

.schedule-block .container {
    padding: 3em 0;
    display: flex;
    flex-direction: column;
}

.schedule-block .container h1 {
    margin: 0 auto 1.25em auto;
    font-size: 2.8rem;
}

.schedule-block .container table {
    width: 100%;
    text-align: center;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 1rem;
}

.schedule-block .container table,
.schedule-block .container table th,
.schedule-block .container table td { border: 1px solid var(--color-gray-2); }

.schedule-block .container table .bord2 th,
.schedule-block .container table tbody tr .t-time {
    background-color: #ffffff33;
    width: 12.5%;
    min-width: 12.5%;
    font-family: var(--font-second);
}

.schedule-block .container table tbody tr .t-time { height: 8em; }

.schedule-block .container table .bord2 .bord1 { height: 3em; }

@media (width < 81.25rem) { /*1300px*/
    .schedule-block .container {
        width: 95%;
    }
    .schedule-block .container h1 {
        font-size: 2.5rem;
    }
}

@media (width < 62.5rem) { /*1000px*/
    .schedule-block .container table {
        font-size: .8rem;
    }
    .schedule-block .container h1 {
        font-size: 2rem;
    }
}

@media (width < 50rem) { /*800px*/
    .schedule-block .container table { font-size: .6rem; }
}