:root {
    --color-dark-1: #000;
    --color-gray-1: #C4C4C4;
    --color-gray-2: #9e9e9e;
    --color-gray-3: #525252;
    --color-light-1: #fff;
    --color-light-2: #EFF5F6;
    --color-light-3: #E6EAEA;
    --color-light-4: #DDDDDD;
    --color-primary: #FF7A7A;

    --font-first: "Jost", sans-serif;
    --font-second: "Montserrat", sans-serif;
}

@media (max-width: 1300px) {
}

@media (max-width: 900px) {
}

@media (max-width: 500px) {
}